/*Page Header*/
header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo{
  display: flex;
  justify-content: flex-start;
  width: 80px;
  margin: 8px 0 8px 15px;
}

#logo_name{
  color: MediumAquamarine;
  font-family: Verdana;
  padding: 10px 20px;
}

nav{
display: flex;
justify-content: flex-end;
align-content: space-between;
}

span{
  margin: 0 10px;
}

a{
  color: black;
}

/*End Page Header*/
